{% load static %}
<div class="navbar-bg">
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'proekts:home' %}">
          <img
            src="{% static 'Frame.svg' %}"
            alt="logo"
            class="sidebar-logo"
          />
        </a>

        <button
          class="navbar-toggler text-white"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-auto" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-between">
            <div class="d-flex flex-column flex-lg-row gap-lg-4">
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
                Admin
              </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item">
                <p class="nav-link fw-bolder" id="rate">
                    Balance: {{ user_balance.amount }}$
                </p>
            </li>
            </div>
            <li class="nav-item text-light">
              <a class="nav-link" href="{% url 'users:profile' %}"> Profile </a>
            </li>
            <li class="nav-item text-light">
              <a class="nav-link" href="{% url 'users:profile_volunteer' %}"> Profile 2 </a>
            </li>
            <div class="d-flex gap-2">

              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logout' %}"><img class="navbar-icon" src="{% static 'imgs/logout.svg' %}" alt="logout"></a>
              </li>
            </div>
            {% else %}
            <li class="nav-item text-light">
              <a class="nav-link" href="{% url 'users:login' %}"> Log In </a>
            </li>
            <li class="nav-item text-light">
              <a class="nav-link" href="{% url 'proekts:add_proekt' %}"> Add Proekt </a>
            </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

</div>
