{% load static %}
<div class="navbar-bg">
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'proekts:home' %}">
        <img src="{% static 'Frame.svg' %}" alt="logo" class="sidebar-logo" />
      </a>

      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
              Admin
            </a>
          </li>
            {% endif %}
          <li class="nav-item">
            <p class="nav-link fw-bolder p-0 m-0" id="rate">
              Balance: {{ user_balance.amount }}$
            </p>
          </li>
        </ul>
        
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-light"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              My Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'proekts:add_proekt' %}">Add project</a></li>
              <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
            </ul>
          </li>
          {% else %}
         <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}" target="_blank">
              Login
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
