{% extends 'base.html' %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<h1>logined home page</h1>
{% else %}
<!-- <h2>To gain full access, please login <a href="{% url 'users:login' %}">here</a></h2> -->
<div class="blockHome1 container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="leftDiv">
                <div>
                    <h1 class="leftDiv_mainText"><span class="greenText">Vnesok</span> - for <br>better tomorrow</h1>
                </div>
                <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Tempore facilis quas enim? Tempore Tempore facilis quas enim? Tempore
                </h4>
                <div class="homeButtons">
                    <button class="becomeVol">Become a volunteer</button>
                    <button class="becomeOrg">Become an organizer</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="photoes">
                <div class="block1TopDiv">
                    <img src="{% static 'img1.png' %}">
                </div>
                <div class="block1LowerDiv">
                    <img src="{% static 'img2.png' %}">
                    <img src="{% static 'img3.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="blockHome2 container-fluid">
    <div class="row">
        <div class="col-md-6 block2_text1">
            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
            <button class="block2button">Become an organizer</button>
        </div>
        <div class="col-md-6 block2_text2">
            <h4>Lorem ipsum dolor sit amet, consecte adipiscing elit. Cras ultricies neque eget dictum convallis. Cras sed mauris quis tortor iaculis</h4>
        </div>
        <div class="photoesCarusel">
            <div class="container-fluid">
                <div class="row">
                    <!-- <img src="{% static 'img2.png' %}" class="col-3">
                    <img src="{% static 'img2.png' %}" class="col-3">
                    <img src="{% static 'img2.png' %}" class="col-3">
                    <img src="{% static 'img2.png' %}" class="col-3"> -->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="blockHome3">

</div>
{% endif %}
{% endblock %}