/*===========================HOME PAGE=====================================================*/
.nav-item {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar {
  background-color: #1a1a1a;
  padding: 10px 20px;
  width: 100vw;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarSupportedContent{
  display: flex;
  align-items: center;

}

.blockHome1 {
  background-color: #1a1a1a;
  margin-top: 30px;
  height: 100%;
  box-sizing: border-box;
  padding: 70px;
  border-radius: 17px;
}

/* .black-bg {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 260%;
  background-color: #1a1a1a;
} */

.black-bg3 {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -10;
  height: 140vh;
  background-color: #1a1a1a;
}

.leftDiv {
  display: flex;
  flex-direction: column;
}

.blockHome2 {
  /* width: 100vw; */
  margin-top: 80px;
  background-color: #1a1a1a;
  /* height: 100vh; */
  background-color: white;
  margin-bottom: 50px;
  margin-top: 50px;
}
.blockHome3 {
  /* width: 100vw; */
  height: 100%;
  padding-bottom: 100px;
  background-color: #1a1a1a;
  box-sizing: border-box;
  padding: 70px;
  margin-bottom: 30px;
  border-radius: 17px;
}

/*
@media (max-width: 767px) {
  .black-bg{
      height: 380%;
  }
  .black-bg3 {
    height: 130vh;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .black-bg{
      height: 300%;
  }
  .black-bg3 {
    height: 115vh;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .black-bg{
      height: 250%;
  }
  .black-bg3 {
    height: 121vh;
  }
}

@media (min-width: 1200px) {
  .black-bg{
      height: 250%;
  }
  .black-bg3 {
    height: 115vh;
  }

  .sidebar-logo{
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1500px) {
  .black-bg{
      height:220%;
  }

}
*/

.leftDiv_mainText {
  color: white;
  font-size: 70px;
}

.leftDiv h4 {
  color: white;
  margin-top: 35px;
  width: 80%;
  line-height: 150%;
}

.greenText {
  color: #22c194;
}

.block1TopDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block1LowerDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}
* {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
}

.homeButtons {
  margin-top: 7%;
  width: 40%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.becomeVol {
  width: 270px;
  height: 70px;
  background-color: transparent;
  border: 1px solid #22c194;
  border-radius: 17px;
  font-size: 22px;
  box-sizing: border-box;
  color: white;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.becomeVol a {
  color: white;
  text-decoration: none;
}

.becomeVol:hover {
  background-color: #22c194;
}

.becomeVol a:hover {
  color: #1a1a1a;
}


.becomeOrg {
  font-size: 20px;
  width: 300px;
  color: rgb(200, 200, 200);
  transition: color 0.2s ease-in-out;
  margin-top: 18px;
  border: 0;
  background-color: transparent;
}

.becomeOrg:hover {
  color: rgb(255, 255, 255);
}

.block2_text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.block2_text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #1a1a1a;
}

.block2_text2 h4 {
  margin-left: 10%;
  width: 75%;
  line-height: 150%;
}

.block2button {
  width: 50%;
  border-radius: 17px;
  height: 65px;
  background-color: transparent;
  border: 1px solid #22c194;
  font-size: 22px;
  box-sizing: border-box;
  color: #1a1a1a;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 6%;
}

.block2button:hover {
  background-color: #22c194;
  color: white;
}

.photoesCarousel {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.photoesCarousel img {
  margin-top: 20px;
  border-radius: 25px;
}

.block3_text1 {
  color: white;
}

.block3_text1 h4 {
  line-height: 150%;
}

.block3button {
  padding: 13px 30px;
  border: 1px solid #22C194;
  border-radius: 17px;
  background: none;
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.block3button:hover {
  background-color: #22c194;
  color: #1a1a1a;
}

.photo-grid {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
}

.photo-grid div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.photo-grid div:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  display: flex;
  justify-content: center;
}

.photo-grid div:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  justify-content: end;
}

@media (max-width: 767px) {
  .photo-grid {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }
  .photo-grid div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .photo-grid div:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
  }
  
  .photo-grid div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: end;
  }
  
}

.photo-grid div img {
  width: 100%;
}
/*===========================LOGIN/SIGNUP PAGES=====================================================*/
* {
  font-family: "Montserrat";
}

.login-wrapper {
  box-sizing: border-box;
  padding: 36px 0 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.17);
  position: relative;
  overflow: hidden;
}

.corner-bottom {
  position: absolute;
  bottom: -1px;
  left: -0.5px;
}

.corner-top {
  position: absolute;
  top: -1px;
  right: -1.5px;
}

.login-wrapper form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-inputs-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 80%;
}

.signup-inputs-container > div {
  width: 50%;
}

.login-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 20px;
}

.inputs-container .login-input:last-child {
  margin-bottom: 0px;
}

::placeholder {
  color: #757575;
  font-size: 16px;
}

.signup-title {
  margin-bottom: 20px;
  color: #22c194;
  font-size: 50px;
  text-align: center;
}

.login-next {
  margin-top: 30px;
  padding: 9px 42px;
  background-color: #22c194;
  border-radius: 15px;
  border: 0;
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
}

.signup-link {
  font-size: 14px;
  color: #555555;
  margin-top: 30px;
}

.signup-link a {
  color: #21d19f;
  font-weight: 500;
}

::selection {
  color: #757575;
}

.login-title {
  font-weight: 500;
  font-size: 48px;
  color: #7293a0;
  margin-bottom: 40px;
}

.login-inputs-container {
  width: 80%;
}

.login-links {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  font-size: 14px;
  color: #555555;
}

.login-links a {
  font-weight: 700;
  font-size: 14px;
  color: #7293a0;
}

.account-button {
  padding: 9px 51px;
  background: #7293a0;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  margin-top: 30px;
  transition: 0.3s;
}

.account-button:hover {
  border: 1px solid #7293a0;
  background-color: none;
  color: black;
}

.login-link {
  font-size: 14px;
  color: #555555;
  margin-top: 30px;
}

.login-link a {
  color: #7293a0;
  font-weight: 500;
}

.signup-title-organiser {
  margin-bottom: 20px;
  color: #7293a0;
  font-size: 50px;
  text-align: center;
}

/* =========================PROFILE========================================= */

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px 0px 1px 0px solid black;
  background-color: transparent;
  margin-right: 100px;
}

.profileInfo input{
  border: 0px;
  background-color: transparent;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 20px;
}

.profileInfo img{
  height: 120px;
  width: 120px;
  margin-top: 20px;
}

.changePass{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  transform: scale(1.3);
}

.profile_name{
  margin-top: 30px;
  border-bottom: 1px #1a1a1a solid;
}

.profileOldPass{
  margin-bottom: 25px;
}
.profileNewPass{
  margin-bottom: 25px;
}
.profileRepPass{
  margin-bottom: 25px;
}

.search-field {
  box-sizing: border-box;
  border: 1px solid #191919;
  border-radius: 19px;
  width: 60%;
  height: 45px;
  padding: 15px;
  margin-top: 30px;
  margin-left: 18%;
}

.categories{
  display: flex;
  justify-content: space-around;
  overflow-x: scroll;
}

.category{
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #22c194;
  color: black;
  border-radius: 7px;
  padding: 10px 15px;
  box-sizing: content-box;
  transition :background-color 0.3s ease-in-out;
}

.category:hover{
  background-color: #22c194;
  color: black;
}

.card{
  margin-top: 25px;
}

.add-proekt-wrapper {
  box-sizing: border-box;
  padding: 36px 0 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.17);
  position: relative;
  overflow: hidden;
}

.proekt-title {
font-size: 32px;
color: #22C194;
}

.add-proekt-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-name-input, #description-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 20px;
}

input::file-selector-button {
  padding: 8px;
  background: #22C194;
  border-radius: 22px;
  font-size: 16px;
  color: #FFFFFF;
  border: none;
}

#image-input {
  width: 100%;
}

.category_select {
  width: 100%;
  margin-top: 20px;
  border-radius: 22px;
  background: #FFFFFF;
border: 1px solid #BEBEBE;
padding: 11px;
}

.proekt-text {
  font-size: 16px;
color: #757575;
}

.coin-proekt {
  background: #FFFFFF;
  border: 1px solid #BEBEBE;
  border-radius: 17px;
  padding: 4px;
}

.create-proekt {
  padding: 8px 15px;
background: #22C194;
border-radius: 22px;
border: 0;
color: white;
width: fit-content;
}

.block2button a{
  text-decoration: none;
  color: #191919;
}
.block3button a{
  text-decoration: none;
  color: white;
}

.becomeOrg a{
  text-decoration: none;
  color: white;
}