.nav-item{
    color: white;
}
.navbar{
    background-color: #1A1A1A;
    padding: 10px 20px;
    /*position: fixed;*/
    width: 100vw;
}

.blockHome1{
    width: 100vw;
    height: 130vh;
    background-color: #1A1A1A;
}

@media (max-width: 767px) {
    .blockHome1{
        height: 200vh;
    }
  }

.rightDiv{
    width: 50%;
}

.leftDiv{
    margin-top: 22vh;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blockHome2{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.blockHome3{
    width: 100vw;
    height: 100vh;
    background-color: #1A1A1A;
}

.leftDiv_mainText{
    color: white;
    font-size: 70px;
    margin-left: 20px;
}

.leftDiv h4{
    color: white;
    margin-top: 35px;
    width: 60%;
}


.greenText{
    color: #22C194;
}

.block1TopDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1LowerDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
*{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
}

.homeButtons{
    margin-top: 7%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.becomeVol {
    width: 100%;
    height: 65px;
    background-color: transparent;
    border: 1px solid #22C194;
    border-radius: 17px;
    font-size: 22px;
    box-sizing: border-box;
    color: white;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.becomeVol:hover {
    background-color: #22C194;
    color: #1A1A1A;
}

.becomeOrg {
    font-size: 20px;
    color: rgb(200, 200, 200);
    transition: color 0.2s ease-in-out;
    margin-top: 18px;
    border: 0;
    background-color: transparent;
}

.becomeOrg:hover {
    color: rgb(255, 255, 255);
}

.photoes{
    margin-top: 100px;
}

.block2_text1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
    position: relative;

}

.block2_text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6% 0px;
    border-left: 2px solid #1A1A1A;
}

.block2_text2 h4{
    margin-left: 10%;
    width: 75%;
}

.block2button{
    width: 50%;
    border-radius: 17px;
    height: 65px;
    background-color: transparent;
    border: 1px solid #22C194;
    font-size: 22px;
    box-sizing: border-box;
    color: #1A1A1A;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    margin-top: 6%;
}

.block2button:hover {
    background-color: #22C194;
    color: #1A1A1A;
}

.photoesCarusel{
    display: flex;
    flex-direction: row;
}

.photoesCarusel img{
    margin-top: 20px;
}/*===========================LOGIN/SIGNUP PAGES=====================================================*/
* {
    font-family: "Montserrat";
  }
  
  .login-wrapper {
    box-sizing: border-box;
    padding: 36px 0 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.17);
    position: relative;
    overflow: hidden;
  }
  
  .corner-bottom {
    position: absolute;
    bottom: -1px;
    left: -0.5px;
  }
  
  .corner-top {
    position: absolute;
    top: -1px;
    right: -1.5px;
  }
  
  .login-wrapper form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-inputs-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 80%;
  }
  
  .signup-inputs-container > div {
    width: 50%;
  }

  .login-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #bebebe;
    margin-bottom: 20px;
  }
  
  .inputs-container .login-input:last-child {
    margin-bottom: 0px;
  }
  
  ::placeholder {
    color: 757575;
    font-size: 16px;
  }
  
  .signup-title {
    margin-bottom: 20px;
    color: #22c194;
    font-size: 50px;
    text-align: center;
  }
  
  .login-next {
    margin-top: 30px;
    padding: 9px 42px;
    background-color: #22c194;
    border-radius: 15px;
    border: 0;
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
  }
  

  .signup-link {
    font-size: 14px;
    color: #555555;
    margin-top: 30px;
  }

  .signup-link a {
    color: #21D19F;
    font-weight: 500;
  }

  ::selection {
    color: #757575;
  }

  .login-title {
    font-weight: 500;
    font-size: 48px;
    color: #7293A0;
    margin-bottom: 40px;
  }

  .login-inputs-container {
    width: 80%;
  }

  .login-links {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    font-size: 14px;
    color: #555555;
  }

  .login-links a {
    font-weight: 700;
    font-size: 14px;
    color: #7293A0;
  }

  .account-button {
    padding: 9px 51px;
    background: #7293A0;
    border-radius: 15px;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.3s;
  }

  .account-button:hover {
    border: 1px solid #7293A0;
    background-color: none;
    color: black;
  }

  .login-link {
    font-size: 14px;
    color: #555555;
    margin-top: 30px;
  }

  .login-link a {
    color: #7293A0;
    font-weight: 500;
  }

  .signup-title-organiser {
    margin-bottom: 20px;
    color: #7293A0;
    font-size: 50px;
    text-align: center;
  }