{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="mx-auto col-lg-6 col-md-10">
            <div class="login-wrapper">
                <img src="../../static/imgs/corner3.svg" class="corner-top" alt="" />
                <img src="../../static/imgs/corner4.svg" class="corner-bottom" alt="" />
                <form class="login-form" method="POST">

                {% csrf_token %}
              
                <div class="login-title">Log in</div>
                <div class="login-inputs-container">
                <input
                  type="email"
                  placeholder="Email"
                  class="login-input"
                  id="login-email-input"
                  name="email"
                />
                <input
                  type="password"
                  placeholder="Password"
                  class="login-input"
                  id="login-password-input"
                  name="password"
                />
            </div>
                <div class="login-links">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember for 30 days</label>
                      </div>
                      <a href="#">Forgot password</a>
                </div>
                <button type="submit" class="btn account-button">
                    Login
                </button>
                <div class="login-link">
                    Not a member? <a
                        href="{% url "users:register_volunteer" %}">Register here</a>
                </div> 
            </form>
            </div>
        </div>
    </div>


{% endblock %}
