{% extends 'base.html' %}
{% load static %}


{% block body %}
    <div class="profile">
        <form method="POST">
            <div class="profileInfo">
                <h2>PROFILE</h2>
                <img src="{% static 'Vector.svg' %}" alt="profile logo">
                <input type="name" placeholder="Name" name="name" class="profile_name">
                <input type="email" placeholder="Email" name="email" class="profile_email">
                <input type="tel" placeholder="Mobile Phone" name='tel'class="profile_tel">
                <button type="submit" class="btn btn-outline-primary" name="update-data">Save</button>
            </div>
        </form>
        <form method="POST">
            <div class="changePass">
                <h5>Old Password:</h5>
                <input type="number" name="oldPassword" class="profileOldPass">
                <h5>New Password:</h5>
                <input type="number" name="newPassword" class="profileNewPass">
                <h5>Repeat New Password:</h5>
                <input type="number" name="repeatNewPassword" class="profileRepPass">
                <button type="submit" class="btn btn-outline-primary" name="update-password">Change</button>
            </div>
        </form>
    </div>
    <div class="achievements">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="achieve-card gap-3">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Help animals 5 times</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gap-3">
                    <div class="achieve-card gap-3">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Help army</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gap-3">
                    <div class="achieve-card gap-3">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Help(clean) the enviroment</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gap-3">
                    <div class="achieve-card gap-3">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Help army 3 times</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gap-3">
                    <div class="achieve-card gap-3">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Volunteer for 2 months</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 gap-3">
                    <div class="achieve-card gap-3 achieveDone">
                        <img src="../../static/imgs/achivka.svg" alt="">
                        <div>Register</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
