{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row mt-5">
    <div class="col-10 col-lg-8 mx-auto">
      <div class="add-proekt-wrapper">
            <img src="../../static/imgs/corner1.svg" class="corner-bottom" alt="" />
            <img src="../../static/imgs/corner2.svg" class="corner-top" alt="" />
        <form class="add-proekt-form d-flex flex-column justify-content-center" method="POST">
            {% csrf_token %}
            <div class="proekt-title mb-5">Add project</div>
          <div class="add-proekt-inputs">
            <input
              type="text"
              placeholder="Name of the project"
              class="project"
              id="project-name-input"
              name="Name of the project"
            />
            <input
              type="text"
              placeholder="Description"
              class="description-input"
              id="description-input"
              name="description"
            />
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script>
            $(document).ready(function() {
                $("#image-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $("#selected-image-name").text(fileName);
                });
            });
            </script>
            <input type="file" id="image-input" accept="image/*">
            <span id="selected-image-name"></span>
            

            <select id="category-select" name="select" class="category_select">
                <option value="animals">Animals</option>
                <option value="health">Health</option>
                <option value="war">War</option>
                <option value="army">Army</option>
                <option value="education">Education</option>
                <option value="psychology">Psychology</option>
              </select><br>
              <div class="d-flex flex-row justify-content-between gap-3 align-items-center">
            <span class="proekt-text">How many coins the project is awarded? </span><input type="number" name="coin" class="coin-proekt">
          </div>
          </div>
            <button type="submit" class="create-proekt mx-auto mt-3">Add project</button>              
        </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
